@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');
body {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  color: #1d2029;
}
:root {
  --lime-green: hsl(163, 72%, 41%);
  --bright-red: hsl(356, 69%, 56%);
  --twitter: hsl(195, 100%, 50%);
  --facebook: hsl(203, 89%, 53%);
  --instagram-1: hsl(37, 97%, 70%);
  --instagram-2: hsl(329, 70%, 58%);
  --tiktok: #fe2c55;
  --gray: #5f616d;
  --cardGray: #f0f3fa;
}
.wrapper {
  padding: 0 30px;
}
.grid {
  display: grid;
  grid-row-gap: 24px;
}
.dark-mode {
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
.checkbox {
  display: none;
}
.checkbox:checked ~ .switch::before {
  transform: translateX(0px);
}
.switch {
  height: 40px;
  display: block;
  border-radius: 20px;
  background: var(--gray);
  width: 80px;
  padding: 5px;
  cursor: pointer;
  box-sizing: border-box;
  user-select: none;
}
.switch::before {
  content: '';
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: white;
  transform: translateX(40px);
  transition: 0.3s;
  will-change: transform;
}

.header {
  background-color: #f8f9fe;
  padding-bottom: 100px;
  border-radius: 0 0 20px 20px;
  padding-top: 1em;
}
.header h1 {
  margin: 0;
  font-size: 1.7em;
}
.header-title {
  color: var(--gray);
  margin: 0.5em 0;
  font-weight: 600;
  padding-bottom: 1.5em;
  border-bottom: 1px solid var(--gray);
}
.top-cards {
  margin-top: -50px;
  margin-bottom: 3em;
}
.card {
  border-radius: 8px;
  overflow: hidden;
  background: var(--cardGray);
  text-align: center;
  padding: 1.6em 0;
  position: relative;
}
.card::before {
  content: '';
  height: 4px;
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.card.facebook::before {
  background-color: var(--facebook);
}
.card.twitter::before {
  background-color: var(--twitter);
}
.card.instagram::before {
  background-image: linear-gradient(
    to right,
    var(--instagram-1) 0%,
    var(--instagram-2) 100%
  );
}
.card.tiktok::before {
  background-color: var(--tiktok);
}
.card-title {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #6f717e;
  font-size: 0.9em;
  font-weight: bold;
}
.card-title img {
  margin-right: 4px;
}
.card-followers {
}
.card-followers-number {
  font-size: 48px;
  font-weight: 700;
}
.card-followers-title {
  display: block;
  text-transform: uppercase;
  color: var(--gray);
  letter-spacing: 6px;
  font-size: 0.75em;
}
.card-today {
  color: var(--lime-green);
  font-size: 0.7em;
  font-weight: bold;
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.card-today img {
  width: 16px;
  margin-right: 4px;
}

.overview {
  padding-bottom: 2em;
}
h2 {
  color: var(--gray);
}
.card-small {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-row-gap: 2.5em;
  background-color: #f0f3fa;
  border-radius: 8px;
  padding: 1.7em;
}
.card-small p {
  margin: 0;
}
.card-small-icon {
  text-align: right;
}
.card-small-views {
  color: var(--gray);
  font-weight: bold;
  font-size: 0.9em;
}
.card-small-number {
  font-weight: bold;
  font-size: 2.6em;
  line-height: 0.9em;
}
.card-small-percentage {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  color: var(--bright-red);
  font-size: 0.9em;
}
.card-small-percentage span {
  display: flex;
  align-items: center;
}
.card-small-percentage img {
  margin-right: 5px;
}

@media screen and (min-width: 520px) {
  body {
  }
  .grid {
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 25px;
  }
  .wrapper {
    max-width: 1440px;
    margin: auto;
  }
}
@media screen and (min-width: 720px) {
  body {
  }
  .grid {
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 25px;
  }
  .wrapper {
    max-width: 1440px;
    margin: auto;
  }
}
@media screen and (min-width: 1024px) {
  body {
  }
  .grid {
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 25px;
  }
  .wrapper {
    max-width: 1440px;
    margin: auto;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #1d2029;
    color: white;
  }
  :root {
    --cardGray: #252b43;
    --gray: #8088ad;
  }

  .header {
    background-color: #1d2029;
  }
  .card-title {
    color: var(--gray);
  }
  .card-followers-title {
    color: #8088ad;
  }
  .card-small {
    background-color: #252b43;
  }
  .card-small-views {
    color: #8088ad;
  }
  .switch {
    background-image: linear-gradient(to right, #4796d2 0%, #37ce8f 100%);
  }
  .switch:before {
    background-color: #282943;
  }
}
